html,
body {
    background-color: #030303 !important;
}

@media (min-width: 1024px) {
    .nakas-ui-landing .screen {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.galaxy {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 3;
}

.galaxy::before,
.galaxy::after,
.galaxy div {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: white;
    animation: sparkle 2s infinite ease-in-out;
}

.galaxy::before {
    box-shadow:
        1224px 631px white,
        1854px 242px white,
        616px 819px white,
        1355px 747px white,
        1673px 858px white,
        1398px 652px white,
        1503px 1069px white,
        1911px 92px white,
        879px 822px white,
        318px 982px white,
        239px 157px white,
        1152px 649px white,
        1811px 914px white,
        1850px 123px white,
        1185px 633px white,
        444px 132px white,
        196px 234px white,
        69px 363px white,
        1518px 601px white,
        761px 298px white,
        393px 320px white,
        1036px 466px white,
        1032px 625px white,
        247px 250px white,
        1746px 1070px white,
        1749px 961px white,
        1158px 902px white,
        1318px 439px white,
        1664px 212px white,
        1137px 783px white,
        402px 467px white,
        1148px 36px white,
        336px 282px white,
        1874px 252px white,
        893px 948px white,
        174px 500px white,
        399px 79px white,
        792px 215px white,
        1589px 190px white,
        773px 109px white,
        1540px 390px white,
        1083px 1033px white,
        727px 685px white,
        1047px 827px white,
        407px 40px white,
        95px 882px white,
        1748px 86px white,
        307px 199px white,
        1654px 964px white,
        1034px 184px white,
        1164px 383px white,
        969px 752px white,
        1267px 221px white,
        1701px 101px white,
        253px 614px white,
        476px 332px white,
        514px 1080px white,
        563px 854px white,
        1455px 677px white,
        416px 546px white,
        1182px 781px white,
        55px 624px white,
        1004px 434px white,
        329px 21px white,
        1480px 863px white,
        1375px 302px white,
        360px 736px white,
        511px 1062px white,
        1035px 883px white,
        665px 762px white,
        1536px 18px white,
        1693px 723px white,
        1673px 581px white,
        1663px 480px white,
        1622px 850px white,
        831px 170px white,
        730px 590px white,
        1071px 255px white,
        1706px 534px white,
        1244px 277px white,
        602px 611px white,
        862px 850px white,
        83px 503px white,
        704px 593px white,
        1861px 291px white,
        750px 440px white,
        172px 490px white,
        76px 471px white,
        872px 385px white,
        1026px 68px white,
        1279px 326px white,
        748px 903px white,
        848px 851px white,
        810px 1079px white,
        1408px 272px white,
        1820px 452px white,
        1202px 308px white,
        1298px 54px white,
        1268px 420px white,
        1104px 275px white,
        1597px 66px white,
        146px 174px white,
        41px 557px white,
        982px 413px white,
        760px 786px white,
        465px 691px white,
        1470px 325px white,
        1196px 431px white,
        1377px 731px white,
        629px 619px white,
        619px 405px white,
        1643px 365px white,
        1599px 476px white,
        988px 195px white,
        689px 191px white,
        1431px 119px white,
        106px 56px white,
        1617px 578px white,
        905px 60px white,
        1421px 664px white,
        1537px 520px white,
        1456px 878px white,
        1111px 213px white,
        328px 722px white,
        263px 461px white,
        1880px 43px white,
        443px 496px white,
        1498px 430px white,
        1789px 467px white,
        1625px 716px white,
        1593px 993px white,
        677px 180px white,
        556px 1011px white,
        444px 517px white,
        1545px 1045px white,
        201px 336px white,
        767px 466px white,
        228px 235px white,
        76px 793px white,
        1094px 126px white,
        728px 97px white,
        605px 889px white,
        1301px 79px white,
        1295px 145px white,
        544px 332px white,
        144px 567px white,
        1316px 112px white,
        1844px 137px white,
        670px 527px white,
        1607px 684px white,
        1473px 517px white,
        761px 72px white,
        1688px 125px white,
        1821px 466px white,
        196px 358px white,
        958px 180px white,
        1802px 554px white,
        891px 6px white,
        21px 620px white,
        561px 511px white,
        468px 1060px white,
        261px 106px white,
        431px 138px white,
        297px 8px white,
        794px 163px white,
        1371px 575px white,
        977px 363px white,
        1809px 224px white,
        1113px 1062px white,
        681px 823px white,
        1767px 1030px white,
        1686px 922px white,
        1565px 485px white,
        971px 803px white,
        1866px 941px white,
        665px 971px white,
        1450px 391px white,
        276px 1073px white,
        939px 613px white,
        634px 859px white,
        1546px 517px white,
        641px 690px white,
        270px 487px white,
        652px 757px white,
        1904px 561px white,
        419px 229px white,
        1662px 108px white,
        1087px 680px white,
        1017px 372px white,
        413px 591px white,
        26px 431px white,
        1694px 569px white,
        1830px 280px white,
        895px 680px white,
        1160px 412px white,
        804px 380px white,
        71px 845px white,
        1835px 970px white,
        127px 607px white,
        1649px 707px white,
        668px 1036px white,
        367px 904px white,
        428px 443px white,
        244px 192px white,
        584px 629px white,
        501px 414px white,
        522px 15px white,
        983px 483px white,
        934px 447px white,
        1407px 682px white,
        1720px 231px white,
        860px 841px white,
        1749px 157px white,
        1078px 433px white,
        1899px 22px white,
        266px 102px white,
        1844px 919px white,
        425px 393px white,
        335px 442px white,
        355px 983px white,
        561px 345px white,
        1795px 1030px white,
        180px 664px white,
        1587px 1027px white,
        1093px 819px white,
        1853px 422px white,
        296px 902px white,
        656px 805px white,
        1024px 416px white,
        1667px 882px white,
        1197px 222px white,
        1821px 388px white,
        736px 288px white,
        1888px 244px white,
        11px 509px white,
        114px 377px white,
        645px 900px white,
        1837px 531px white,
        468px 335px white,
        1763px 382px white,
        552px 451px white,
        1645px 384px white,
        742px 1045px white,
        1386px 289px white,
        1447px 540px white,
        1277px 357px white,
        635px 142px white,
        670px 50px white,
        1333px 396px white,
        721px 416px white,
        1164px 531px white,
        979px 158px white,
        436px 468px white,
        194px 540px white,
        566px 324px white,
        1607px 992px white,
        259px 108px white,
        789px 819px white,
        1826px 778px white,
        252px 504px white,
        424px 890px white,
        1510px 398px white,
        320px 255px white,
        508px 465px white,
        458px 100px white,
        1800px 658px white,
        1019px 997px white,
        873px 653px white,
        672px 749px white,
        1166px 476px white,
        578px 697px white,
        856px 390px white,
        853px 939px white,
        1689px 441px white,
        2px 248px white,
        345px 1053px white,
        904px 851px white,
        1057px 793px white,
        1598px 437px white,
        208px 1075px white,
        305px 966px white,
        1438px 589px white,
        1670px 120px white,
        904px 821px white,
        1498px 389px white,
        1218px 1073px white,
        792px 643px white,
        363px 933px white,
        446px 509px white,
        1422px 512px white,
        964px 1021px white,
        402px 366px white,
        92px 164px white,
        754px 29px white,
        1884px 1067px white,
        1353px 56px white,
        672px 830px white,
        1750px 104px white,
        712px 254px white,
        707px 799px white;
    animation-delay: 0s;
}

.galaxy::after {
    box-shadow:
        1338px 902px white,
        1900px 276px white,
        1297px 182px white,
        245px 99px white,
        162px 114px white,
        1534px 1012px white,
        1326px 795px white,
        1503px 445px white,
        1639px 700px white,
        1358px 668px white,
        30px 298px white,
        923px 792px white,
        695px 865px white,
        298px 155px white,
        1894px 798px white,
        777px 148px white,
        276px 652px white,
        332px 230px white,
        1350px 759px white,
        1502px 138px white,
        962px 1016px white,
        1537px 141px white,
        275px 178px white,
        143px 36px white,
        1534px 247px white,
        1173px 353px white,
        1545px 86px white,
        736px 1039px white,
        1407px 660px white,
        911px 822px white,
        1532px 407px white,
        1332px 395px white,
        519px 646px white,
        1772px 965px white,
        219px 1019px white,
        878px 550px white,
        103px 652px white,
        1920px 631px white,
        1037px 601px white,
        1526px 220px white,
        1789px 167px white,
        452px 456px white,
        1144px 814px white,
        538px 874px white,
        1349px 677px white,
        1302px 124px white,
        1128px 165px white,
        1763px 101px white,
        837px 467px white,
        274px 842px white,
        1215px 735px white,
        396px 1054px white,
        1406px 104px white,
        946px 943px white,
        1654px 872px white,
        1336px 970px white,
        981px 253px white,
        1763px 886px white,
        1519px 440px white,
        1721px 897px white,
        1279px 662px white,
        1679px 6px white,
        377px 186px white,
        1253px 63px white,
        954px 841px white,
        305px 586px white,
        1320px 307px white,
        1909px 674px white,
        893px 1041px white,
        61px 487px white,
        732px 844px white,
        1758px 378px white,
        805px 983px white,
        430px 204px white,
        777px 1073px white,
        1068px 252px white,
        1659px 330px white,
        1336px 1031px white,
        1553px 925px white,
        923px 3px white,
        121px 211px white,
        1610px 645px white,
        327px 736px white,
        1546px 346px white,
        16px 679px white,
        409px 877px white,
        1213px 543px white,
        1631px 995px white,
        1767px 855px white,
        958px 916px white,
        1276px 263px white,
        1765px 200px white,
        300px 446px white,
        212px 44px white,
        296px 433px white,
        1762px 715px white,
        471px 58px white,
        1203px 47px white,
        557px 333px white,
        279px 421px white,
        1602px 222px white,
        292px 231px white,
        1792px 986px white,
        855px 58px white,
        987px 468px white,
        175px 680px white,
        1526px 745px white,
        1910px 151px white,
        1769px 860px white,
        989px 297px white,
        3px 369px white,
        983px 255px white,
        171px 945px white,
        638px 681px white,
        641px 1013px white,
        1917px 175px white,
        844px 476px white,
        1327px 698px white,
        564px 908px white,
        55px 1040px white,
        1325px 418px white,
        826px 112px white,
        1828px 647px white,
        738px 809px white,
        1273px 226px white,
        1434px 550px white,
        500px 160px white,
        745px 338px white,
        1621px 66px white,
        983px 753px white,
        1389px 402px white,
        18px 568px white,
        949px 995px white,
        1729px 897px white,
        904px 1017px white,
        996px 461px white,
        335px 519px white,
        1106px 178px white,
        371px 356px white,
        768px 54px white,
        145px 469px white,
        1251px 752px white,
        1285px 739px white,
        73px 883px white,
        443px 435px white,
        1747px 682px white,
        1002px 234px white,
        554px 225px white,
        1913px 100px white,
        1650px 893px white,
        331px 395px white,
        41px 385px white,
        1570px 275px white,
        1319px 352px white,
        126px 582px white,
        208px 308px white,
        1254px 539px white,
        1015px 997px white,
        952px 622px white,
        146px 296px white,
        715px 532px white,
        1248px 91px white,
        737px 780px white,
        969px 908px white,
        469px 711px white,
        697px 437px white,
        1551px 331px white,
        1620px 676px white,
        297px 839px white,
        1246px 770px white,
        273px 772px white,
        335px 48px white,
        1708px 781px white,
        1604px 171px white,
        1467px 502px white,
        1097px 1040px white,
        1024px 190px white,
        1451px 682px white,
        1463px 571px white,
        1433px 306px white,
        1447px 64px white,
        408px 1049px white,
        644px 207px white,
        1913px 502px white,
        1648px 658px white,
        216px 737px white,
        275px 111px white,
        1337px 911px white,
        284px 758px white,
        1887px 944px white,
        1282px 1053px white,
        502px 408px white,
        1455px 602px white,
        931px 511px white,
        295px 572px white,
        1860px 425px white,
        684px 721px white,
        1518px 477px white,
        1806px 400px white,
        1207px 508px white,
        1809px 748px white,
        1024px 237px white,
        1506px 914px white,
        1453px 373px white,
        1156px 829px white,
        1741px 771px white,
        1129px 673px white,
        806px 1000px white,
        975px 659px white,
        180px 701px white,
        664px 972px white,
        1122px 707px white,
        495px 857px white,
        410px 954px white,
        667px 398px white,
        1886px 965px white,
        867px 962px white,
        1610px 559px white,
        1036px 97px white,
        1406px 487px white,
        1212px 538px white,
        915px 137px white,
        1112px 453px white,
        1002px 140px white,
        355px 904px white,
        1735px 388px white,
        553px 331px white,
        667px 474px white,
        854px 531px white,
        1223px 427px white,
        144px 209px white,
        545px 547px white,
        1435px 851px white,
        1085px 948px white,
        48px 673px white,
        1772px 996px white,
        1141px 536px white,
        41px 195px white,
        1004px 67px white,
        1547px 463px white,
        1278px 735px white,
        326px 345px white,
        478px 656px white,
        1886px 1052px white,
        1319px 996px white,
        212px 339px white,
        217px 1013px white,
        953px 95px white,
        591px 8px white,
        819px 690px white,
        1314px 269px white,
        953px 976px white,
        1065px 805px white,
        332px 1079px white,
        1570px 1015px white,
        133px 0px white,
        934px 321px white,
        634px 241px white,
        1514px 611px white,
        1623px 322px white,
        708px 137px white,
        401px 113px white,
        122px 191px white,
        320px 1024px white,
        545px 892px white,
        300px 1041px white,
        574px 311px white,
        1833px 805px white,
        1540px 456px white,
        1px 889px white,
        1076px 1077px white,
        1512px 736px white,
        1264px 924px white,
        214px 1049px white,
        3px 433px white,
        222px 445px white,
        947px 976px white,
        265px 530px white,
        849px 616px white,
        70px 172px white,
        1445px 483px white,
        171px 798px white,
        579px 406px white,
        895px 763px white,
        260px 951px white,
        426px 724px white,
        610px 47px white,
        1215px 611px white,
        336px 670px white,
        1798px 841px white,
        1736px 952px white,
        1903px 721px white,
        1102px 577px white,
        1101px 415px white,
        1748px 839px white,
        1275px 209px white,
        1157px 329px white,
        1073px 707px white,
        836px 551px white,
        1289px 119px white;
    animation-delay: 0.5s;
}

.galaxy div {
    box-shadow:
        768px 911px white,
        1430px 574px white,
        1579px 1036px white,
        1166px 614px white,
        1593px 727px white,
        1818px 581px white,
        1284px 894px white,
        566px 1070px white,
        244px 736px white,
        1321px 770px white,
        676px 943px white,
        1388px 273px white,
        1436px 282px white,
        1604px 386px white,
        1196px 662px white,
        716px 481px white,
        1207px 777px white,
        845px 854px white,
        63px 290px white,
        685px 395px white,
        1716px 427px white,
        1040px 101px white,
        862px 761px white,
        244px 858px white,
        232px 144px white,
        1590px 24px white,
        1098px 592px white,
        1014px 408px white,
        1479px 149px white,
        821px 756px white,
        1413px 250px white,
        300px 1035px white,
        819px 905px white,
        141px 562px white,
        789px 346px white,
        1668px 493px white,
        371px 361px white,
        1556px 380px white,
        1272px 159px white,
        678px 476px white,
        825px 204px white,
        638px 675px white,
        501px 385px white,
        762px 695px white,
        1248px 828px white,
        1042px 1043px white,
        440px 1021px white,
        3px 256px white,
        74px 598px white,
        344px 1px white,
        496px 1008px white,
        1790px 1026px white,
        11px 447px white,
        1600px 680px white,
        1868px 987px white,
        563px 962px white,
        1024px 578px white,
        1722px 1026px white,
        136px 584px white,
        1538px 395px white,
        142px 598px white,
        1916px 367px white,
        659px 652px white,
        1378px 389px white,
        62px 611px white,
        1658px 55px white,
        1501px 289px white,
        664px 928px white,
        1350px 78px white,
        377px 165px white,
        360px 1014px white,
        676px 293px white,
        1897px 295px white,
        114px 354px white,
        1462px 585px white,
        1372px 52px white,
        1526px 298px white,
        784px 293px white,
        803px 763px white,
        1723px 137px white,
        1373px 1069px white,
        1095px 131px white,
        80px 253px white,
        172px 254px white,
        588px 811px white,
        876px 52px white,
        1054px 126px white,
        983px 155px white,
        1568px 608px white,
        627px 983px white,
        272px 795px white,
        120px 24px white,
        1832px 1051px white,
        1110px 917px white,
        644px 496px white,
        126px 492px white,
        970px 635px white,
        22px 436px white,
        522px 103px white,
        990px 54px white,
        0px 652px white,
        1780px 246px white,
        1013px 341px white,
        1237px 10px white,
        290px 259px white,
        1908px 683px white,
        295px 114px white,
        1018px 648px white,
        1602px 593px white,
        1907px 761px white,
        1201px 733px white,
        182px 1018px white,
        965px 442px white,
        1187px 230px white,
        18px 59px white,
        1401px 803px white,
        901px 114px white,
        209px 20px white,
        352px 52px white,
        1342px 2px white,
        1858px 493px white,
        1315px 266px white,
        1081px 962px white,
        836px 945px white,
        1008px 302px white,
        1121px 492px white,
        1410px 521px white,
        425px 123px white,
        722px 691px white,
        1610px 306px white,
        662px 154px white,
        489px 58px white,
        208px 370px white,
        1853px 1056px white,
        111px 857px white,
        1661px 945px white,
        859px 268px white,
        134px 96px white,
        1824px 601px white,
        41px 90px white,
        110px 273px white,
        1916px 927px white,
        405px 556px white,
        1675px 993px white,
        1540px 833px white,
        940px 310px white,
        882px 618px white,
        1710px 1022px white,
        1307px 546px white,
        1135px 208px white,
        758px 840px white,
        753px 326px white,
        1846px 1060px white,
        303px 1045px white,
        925px 530px white,
        1821px 1018px white,
        797px 608px white,
        1720px 277px white,
        1500px 223px white,
        976px 270px white,
        220px 998px white,
        19px 99px white,
        1864px 646px white,
        1135px 593px white,
        768px 548px white,
        543px 559px white,
        1065px 622px white,
        1157px 704px white,
        1260px 32px white,
        269px 1049px white,
        1020px 372px white,
        1775px 98px white,
        1194px 146px white,
        1782px 125px white,
        162px 611px white,
        1853px 672px white,
        45px 100px white,
        409px 655px white,
        1682px 135px white,
        771px 176px white,
        1670px 1017px white,
        71px 525px white,
        498px 202px white,
        121px 757px white,
        857px 811px white,
        1642px 869px white,
        264px 795px white,
        861px 260px white,
        1845px 636px white,
        758px 1005px white,
        1503px 182px white,
        527px 201px white,
        1615px 423px white,
        152px 249px white,
        925px 709px white,
        346px 927px white,
        426px 292px white,
        1575px 753px white,
        1263px 701px white,
        1155px 131px white,
        1716px 478px white,
        1189px 200px white,
        1386px 623px white,
        765px 533px white,
        706px 221px white,
        819px 757px white,
        685px 806px white,
        1870px 194px white,
        1834px 391px white,
        1718px 295px white,
        1720px 46px white,
        1787px 349px white,
        563px 125px white,
        629px 740px white,
        1721px 155px white,
        414px 417px white,
        1636px 1011px white,
        732px 938px white,
        713px 233px white,
        565px 121px white,
        451px 232px white,
        1480px 351px white,
        804px 1052px white,
        1110px 575px white,
        1254px 942px white,
        1790px 92px white,
        1868px 224px white,
        372px 158px white,
        253px 229px white,
        191px 738px white,
        1641px 435px white,
        523px 205px white,
        1389px 284px white,
        1202px 467px white,
        999px 16px white,
        256px 899px white,
        1579px 844px white,
        1716px 68px white,
        500px 918px white,
        495px 127px white,
        89px 35px white,
        336px 981px white,
        20px 194px white,
        108px 682px white,
        980px 1039px white,
        592px 1005px white,
        381px 560px white,
        574px 387px white,
        94px 1008px white,
        332px 783px white,
        104px 106px white,
        1326px 445px white,
        1536px 490px white,
        1734px 167px white,
        1860px 1045px white,
        969px 264px white,
        131px 949px white,
        214px 434px white,
        1919px 796px white,
        1611px 484px white,
        39px 1036px white,
        1895px 412px white,
        1466px 306px white,
        1272px 617px white,
        1524px 668px white,
        1060px 1020px white,
        1882px 446px white,
        22px 703px white,
        1297px 329px white,
        1319px 1067px white,
        1870px 1054px white,
        429px 1047px white,
        1242px 56px white,
        240px 181px white,
        1454px 939px white,
        1302px 498px white,
        522px 556px white,
        1084px 1031px white,
        1542px 1012px white,
        1418px 663px white,
        1135px 54px white,
        1772px 1032px white,
        1653px 595px white,
        368px 984px white,
        1367px 478px white,
        743px 573px white,
        923px 638px white,
        1250px 109px white,
        1083px 138px white,
        806px 332px white,
        381px 731px white,
        1767px 258px white,
        498px 486px white,
        1295px 1px white,
        1495px 691px white,
        1636px 538px white,
        1407px 690px white,
        15px 807px white,
        1271px 744px white,
        1464px 1013px white;
    animation-delay: 1s;
}

@keyframes sparkle {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/* effet glitch RGB */
.galaxy-glitch {
    animation: glitch 10s infinite;
}

@keyframes glitch {
    0% {
        transform: translate(0, 0);
        filter: drop-shadow(0 0 0 red) drop-shadow(0 0 0 green) drop-shadow(0 0 0 blue);
    }

    20% {
        transform: translate(-1px, 1px);
        filter: drop-shadow(1px 0 0 red) drop-shadow(-1px 0 0 green) drop-shadow(0 1px 0 blue);
    }

    40% {
        transform: translate(1px, -1px);
        filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 green) drop-shadow(0 -1px 0 blue);
    }

    60% {
        transform: translate(-1px, 1px);
        filter: drop-shadow(0 1px 0 red) drop-shadow(0 -1px 0 green) drop-shadow(1px 0 0 blue);
    }

    80% {
        transform: translate(1px, -1px);
        filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 green) drop-shadow(0 1px 0 blue);
    }

    100% {
        transform: translate(0, 0);
        filter: drop-shadow(0 0 0 red) drop-shadow(0 0 0 green) drop-shadow(0 0 0 blue);
    }
}