.nakas-ui-landing-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
}

.nakas-ui-landing-header img {
    width: 64px;
    height: 64px;
}

.nakas-ui-landing {
    width: 100%;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    z-index: 100;
}

.nakas-ui-landing .screen {
    height: 100vh;
}

.nakas-ui-landing .screen .inner {
    border-radius: var(--border-radius);
    flex-direction: column;
    text-align: center;
    transform: scale(0.75);
    transform-origin: top;
    display: flex;
    overflow: auto;
    width: 100%;
}

.nakas-ui-landing .main {
    width: 100%;
    height: 100%;
    max-height: 95vh;
    overflow-y: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (max-width: 1024px) {
    .nakas-ui-landing .main {
        overflow-x: hidden
    }
}

.nakas-ui-landing #main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.nakas-ui-landing #main-content .header {
    max-width: clamp(180px, 80%, 400px);
    align-items: center;
    border: solid var(--color-nega-primary-color);
    border-radius: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}

/* Theme Showcase */

.planet {
    width: 96px;
    height: 96px;
    animation-duration: 300ms;
    border: 1px solid color-mix(in srgb, var(--color-bold-color) 10%, transparent);
    border-radius: 100%;
    transition: all;
}

.planet.big {
    width: 128px;
    height: 128px;
}

/* Notification Bar */

.notification-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.notification-bar-text {
    margin: 0 auto;
    text-align: center;
}

.notification-bar-text a {
    color: inherit;
    text-decoration: underline;
}

/* Landing Demo KPI */

.landing-demo-kpi {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: 1px solid var(--color-nega-primary-color);
    border-radius: 9999px;
    margin: 0 auto;
    gap: -12px;
}

.landing-demo-kpi .theme-wrapper {
    align-items: center;
    border-radius: 9999px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.125rem;
}

.landing-demo-kpi .theme-kpi-button {
    width: 32px;
    height: 32px;
    border-radius: 9999px;
    transition: all 0.3s ease;
}

.landing-demo-kpi .kpi-text {
    padding-left: 0.5rem;
}