.nakas-input-wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.nakas-input-label {
    opacity: 0.95;
    color: var(--primary-color);
}

.nakas-input-required {
    color: var(--error-color);
}

.nakas-input {
    width: 100%;
    padding: 0 1rem;
    border: 1px solid color-mix(in srgb, var(--primary-color) 15%, transparent);
    border-radius: var(-border-radius);
    color: var(--primary-color);
    font-family: inherit;
    outline: none;
    transition: border-color 150ms ease;
}

.nakas-input:focus {
    border-color: var(--primary-acent);
    box-shadow: 0 0 0 2px color-mix(in srgb, var(--primary-acent) 20%, transparent);
}

.nakas-input-xs {
    height: 2rem;
}

.nakas-input-sm {
    height: 2.5rem;
}

.nakas-input-md {
    height: 3rem;
}

.nakas-input-lg {
    height: 3.5rem;
}

.nakas-input-xl {
    height: 4rem;
}

.nakas-input-error {
    border-color: var(--error-color);
}

.nakas-input-error:focus {
    border-color: var(--error-color);
    box-shadow: 0 0 0 2px color-mix(in srgb, var(--error-color) 20%, transparent);
}

.nakas-input-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.nakas-input-error-msg {
    color: var(--error-color);
}