.nakas-tdw {
    border-radius: 16px;
    flex-direction: column;
    padding: 16px;
}

.nakas-tdw,
.nakas-tdw-header {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
}

.nakas-tdw-title {
    font-weight: 600;
}

@media (max-width: 768px) {
    .nakas-tdw-header {
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
}