.theme-switcher {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.theme-switcher-button {
    min-width: 150px;
    align-items: center;
    background-color: var(--color-nega-bold-color);
    border: 2px solid color-mix(in srgb, var(--color-bold-color) 10%, transparent);
    border-radius: var(--border-radius);
    color: var(--color-primary-color);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    transition: all 150ms ease;
}

.theme-switcher-button:hover {
    opacity: 0.9;
    transform: scale(0.99);
}

.theme-switcher-button-active {
    background-color: var(--color-primary-accent);
    border-color: var(--color-primary-accent);
    color: var(--color-nega-bold-color);
}

.theme-switcher-button-content {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.theme-switcher-button-name {
    font-weight: 500;
}