.nakas-faq-container {
    position: relative;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    width: 100%;
}

.faq-question-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid color-mix(in srgb, var(--color-bold-color) 10%, transparent);
    border-radius: var(--border-radius);
    box-shadow: 0 1px 3px color-mix(in srgb, var(--color-bold-color) 20%, transparent);
    background-color: var(--color-nega-bold-color);
    padding: 1rem;
}

.faq-question {
    font-size: 1rem;
    color: var(--color-primary-color);
}

.faq-icon {
    transition: transform 300ms ease-in-out;
}

.faq-icon-open {
    transform: rotate(180deg);
}

.faq-answer {
    transition: all 300ms ease-in-out;
    max-width: 42rem;
    color: var(--color-primary-color);
}

.faq-answer-open {
    opacity: 1;
    max-height: 300px;
    transform: translateY(0);
    padding-top: 1rem;
}

.faq-answer-closed {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transform: translateY(-0.5rem);
}