.nakas-toggler {
    background-color: var(--color-nega-background);
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 42px;
    border-radius: var(--border-radius);
    transition: background-color 200ms ease;
    border: none;
    display: inline-flex;
    align-items: center;
}

.nakas-toggler-active {
    background-color: var(--color-accent);
}

.nakas-toggler:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-ring);
}

.toggler-disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.toggler-thumb {
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    border-radius: 9999px;
    color: var(--color-nega-bold-color);
    display: flex;
    justify-content: center;
    left: 4px;
    padding: 3px;
    position: absolute;
    top: 50%;
    transition: transform 150ms ease-in-out;
    transform: translate(0, -50%);
}

.toggler-thumb-active {
    transform: translate(44px, -50%);
}